*{
    font-family: poppins;
}
.linecool{
    width: 100%;
    background-image: linear-gradient(140deg, #EADEDB 0%, #70bc75 50%, #BC70A4 75%);
    height: 5px;
}
.textlabel{
    font-weight: 700;
    margin: 0 0 10px 0;
    font-size: 27px;
    color: #161616;
}
.characterprops{
    font-size: 18px;
    font-weight: 400;
}
.btn{
    margin-right: 25px;
}